
{% extends 'user/base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}


<div class="container-fluid bg animated fadeOut" id="email-div">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4">


            <form class="form-container" method="post">
                {% csrf_token %}
                <p class="h4 mb-4">Change password</p>
                {{ form.as_p }}
                <button class="btn btn-info my-4 btn-block" type="submit">Change password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}